{% extends 'authenticate/base.html' %}
{% load static %}
{% block content %}
<h1 class="text-center">Welcome</h1>
{% if user.is_authenticated %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<table class="table">
			  <thead>
			    <tr>
			      <th>S/No</th>
			      <th>Name</th>
			      <th>File Link</th>
			      <th>Handle</th>
			    </tr>
			  </thead>
			  <tbody>
			    {% for d in data %}
			    <tr>
			      <th>{{forloop.counter}}</th>
			      <th>{{ d.file_name }}</th>
			      <th><a href="{{ d.my_file.url }}"> {{ d.my_file }}</a></th>
			    </tr>
			    {% endfor %}
			  </tbody>
			</table>
			</div>
		</div>
	</div>
 {% endif %}
{% endblock %}